*{
    margin: 0;padding: 0;font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif; box-sizing: border-box;
}
header{
    display: flex; z-index: 10px; height: 80px; width: 100vw; position: fixed; top: 0;background-color: white;align-items: center; justify-content: space-between;box-shadow: #696e79 0px 0px 10px 0px;

}
.myntra{
    height: 46px; width: 63px; margin-left: 90%;
}
.logo_container{
    margin-right: 8%;}
    
.nav_bar{
    display: flex; min-width: 500px; justify-content: space-between; align-items: center;}
    .nav_bar a{
        text-decoration: none; color: black; font-weight: 700; font-size: smaller; padding: 28px 0px; border-bottom:4px solid white ;}
          .search_bar{height: 40px; width:40%; min-width: 50px; display: flex; align-items:center; margin-right: 70px; margin-left: 50px;}
            .search_icon{ height: 40px; background-color: #f5f5f6; padding: 10px; color: #696e79;
            border-radius: 4px 0px 0px 4px;  }
           .nav_bar a:hover  {
                border-bottom: 4px solid red;
            }
          
        .search_input{
            height:  40px; width: 500px;  background-color: #f5f5f6; border: 0px; color: #696e79; flex-grow: 1;
        border-radius: 0px 4px 4px 0px;}
        .action_bar{
            display: flex; height: 20px; width: 0px; justify-content: space-between; margin-right: 4%; margin-bottom: 1%;}
            .action_container{
                display: flex; flex-direction: column; align-items: center; height: 20px; width: 0px; }
                .action_icon{
                    height: 18px; width: 18px; color: #696e79; font-size: 20px; font-weight: 400;}
                .action_name{
          font-weight: 500; font-size: small; margin: 5px; }

    .banner_container
        {margin: 120px 0px 20px 0px;}      
        .banner_image{
            width: 100%; }
     .category_heading{
        text-transform: uppercase;
        color:#3e4152;
        letter-spacing: .15em;
        font-size: 1.8em;
        margin: 50px 0px 10px 30px;
        max-height: 5em;
        font-weight: 700;};
  
        .category_items{
            display: flex; flex-wrap:  wrap; justify-content: space-evenly;}
        
.sale_item{
            width: 248px; margin: 0%; height: 300px; margin: 0;
    border-radius: 8px;
    overflow: hidden ;
    box-shadow: 0 2px 8px 0 #ececec;
    transition: transform 0.2s;
    background: #fff;}
.sale_item:hover{transform: translateY(-6px) scale(1.03);
    box-shadow: 0 6px 20px 0 #e0e0e0;
}
footer{display: flex; justify-content: space-evenly;background-color: #fafbfc;}

            .footer_container{
                padding: 30px 0px 40px 0px; background-color: #fafbfc;
                display: flex; justify-content: space-evenly; 
            }
         .footer_column{
            display: flex; flex-direction: column; 
         }   
            .footer_column h3{
                color: #282c3f; font-size: 18px; margin-bottom: 25px; }
            .footer_column a{
                text-decoration: none; color: #696b79; font-size: 15px; padding-bottom: 5px; }
